/* =----------------------------------------------------------------------- gloval style */
body{
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    background-image: url(/images/cool-img.png);
}
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before,::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{

}

/* =----------------------------------------------------------------------- header */
.header{
    background-color: gray;
    padding: 20px 15px;

}