 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Golos+Text&family=Kanit:ital,wght@1,100&family=Libre+Baskerville&family=Oswald&display=swap');

/* =----------------------------------------------------------------------- gloval style */
/* 
body{
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    background-image: url(/images/cool-img-2.jpg);
}
*:not(i){
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before,::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content{
    justify-content: space-between;
}

/* =----------------------------------------------------------------------- header */
/* header{
    padding: 20px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
header .logo{
    display: inline-block;
    text-align: center;
    line-height: 36px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--skin-color);
  
}
a{  
    font-size: 24px;
    color: var(--new-color);
    font-weight: 20;
    text-transform: uppercase;
}
header .hamburger-btn{
    height: 40px;
    width: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.hamburger-btn span{
    display: block;
    height: 2px;
    width: 16px;
    background-color: var( --text-black-900);
}

span::after{
    content: '';
    position: absolute;
    left: 0;
    width: 10%;
    height: 10%;
    background-color: var(--text-black-900);
}
span::before{
    top:-6px;
}
span::after{
    top: 6px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    overflow: hidden;
}
.container {
    width: 100%;
    min-height: 10v0h;
    background-color: var(--bg-black-100);
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    background-color:var(--bg-black-100) ;
}
.logo {
    /* background-image: url(/images/cool-img-2.jpg);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent; */
    display: flex;
    font-size: 32px;
    font-weight: 100;
    color: var(--text-black-700);
    letter-spacing: 4px;
    cursor: pointer;
    text-transform: uppercase;
}
b {
    font-size: 70px;
    background-image: linear-gradient(to top, #1a3cac 0, rgba(17, 24, 145, 0.2) 0, rgb(51, 39, 139)0, rgb(37, 15, 205));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}
.nav-items {
    display: flex;
}
.nav-items li a {
    list-style: none;
    margin: 0 15px;
    text-decoration: none;
    font-size: 25px;
    color: var(  --text-black-700) ;
    cursor: pointer;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.links a {
    font-size: 25px;
    color: var(--text-black-700);
    margin: 25px 10px;
}
li ::marker {
    
    text-transform: none;
  
}
.nav-items li:hover, .links a  {
    background-image: linear-gradient(to top, #1a3cac 0, rgba(17, 24, 145, 0.2) 0, rgb(51, 39, 139)0, rgb(37, 15, 205));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}
.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    padding: 0 10%;
    overflow: hidden;
    
}
.cols {
    width: 50%;
}
.cols0 {
     z-index: 5;
     margin-top: 15%;
}
.cols0-2{
    margin: 15px 17px;
    padding: 103px 75px;
}
.topline {
    display: flex;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color:var(  --text-black-700) ;
}
.topline::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    font-weight: 600;
    color: red;
    background-image: linear-gradient(to top, #364fa2 0, rgba(28, 35, 174, 0.2) 0, rgb(108, 97, 186));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}
h1 {
    display: block;
    font-size: 3rem;
    font-weight: 900;
    color: var(  --text-black-700);
}
.multitext{
    background-image: linear-gradient(to top, #1a3cac 0, rgba(17, 24, 145, 0.2) 0, rgb(74, 62, 161)0, rgb(37, 15, 205));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    text-transform: capitalize;
    position: relative;
}
.multitext::before{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 3px solid #1a3cac;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60% {
        left: 100%;
    }
    100% {
       left: 0%;
    }
}
p {
     display: block;
     width: 90%;
     font-size: 1.2rem;
     color: var(--text-black-700);
}
.btns {
    width:  100%;
    position: relative;
    left: 21px;
    display: flex;
}
button {
     outline: none;
     border: none;
     border-radius: 10px 10px;
     cursor: pointer;
     font-size: 25px;
     font-weight: 400;
     text-transform: capitalize;
     color: var(--bg-white-100);
     background-image: linear-gradient(to top, #1a3cac 0, rgba(17, 24, 145, 0.2) 0, rgb(74, 62, 161)0, rgb(37, 15, 205));
     padding: 8px 14px;
     margin: 15px;
     letter-spacing: 2px;
     box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.4);
     color: #3452b7;
}
button:hover {
    background-color: red;
    
}
.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
}
.imgbox img {
    position: relative;
    height: 100%;
    width: calc(130% - 80px);
    right: 100px;
    animation: animateUser 0.7s linear infinite;
    z-index: 9;
    margin: 118px 4px;
    bottom: 10%;
}
/* @keyframes animateUser {
    50%{
        right: 30px;
        top: -90px;
    }
} */
.bubbles {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 10%;
    right: 5%;
    z-index: 8;
    
}
.bubbles-2{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 10%;
    left: 5%;
    z-index: 4;
}

/* -------------------- bubbles about */

.bubbles-abt{
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 55%;
    right: 5%;
    z-index: 8;
    
}
.bubbles-abt-2{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 45%;
    left: 5%;
    z-index: 4;
}

/* -------------------- bubbles skills */

.bubbles-sk{
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 55%;
    right: 15%;
    z-index: 8;
    
}
.bubbles-sk-2{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 45%;
    left: 15%;
    z-index: 4;
}
