<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/colors.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="about-page" href="/templates/about.html">
    <link rel="stylesheet" href="/templates/contact.html">
    <link rel="stylesheet" href="/templates/skills.html">
    <title>Jose Parra</title>
</head>
<body>
<div class="container">
    <nav class="folio">
        <div class="logo">Portfolio<b>.</b></div>
        <ul class="nav-items">
            
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="/templates/about.html">About</a></li>
            <li><a href="/templates/skills.html">Skills</a></li>
            <li><a href="/templates/contact.html">Contact</a></li>
        </ul>
        <div class="links">
            <a href="$"><i class="fa-brands fa-instagram"></i></a>
            <a href="$"><i class="fa-brands fa-linkedin"></i></a>
            <a href="$"><i class="fa-brands fa-github"></i></a>
        </div>
    </nav>
</div>
    <div class="wrapper">
        <div class="cols cols0">
            <span class="topline">Hello</span>
           <h1>I'm a <span class="multitext">Developer</span></h1>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
           <div class="btns">
            <button>donwloaw cv</button>
            <button>get in touch</button>
           
           </div>
        </div>
      
<head>
            <div class="bubbles-sk">
            <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
                <defs>
                  <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" style="stop-color: rgb(54, 116, 170);"></stop>
                    <stop offset="100%" style="stop-color: rgb(20, 39, 102);"></stop>
                  </linearGradient>
                </defs>
                <path  fill="url(#gradient)">
                    <animate attributeName="d" style="box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.4)" dur="10000ms" repeatCount="indefinite"
                    values="M375.5,294Q371,338,348,409.5Q325,481,251,477.5Q177,474,158,402.5Q139,331,96,290.5Q53,250,90,205Q127,160,163.5,128Q200,96,257.5,73Q315,50,371.5,85.5Q428,121,404,185.5Q380,250,375.5,294Z;
                    M392.5,290Q360,330,334,379.5Q308,429,245,444Q182,459,147,405Q112,351,111.5,300.5Q111,250,117,204Q123,158,153.5,103Q184,48,240,79Q296,110,373,107.5Q450,105,437.5,177.5Q425,250,392.5,290Z;
                    M429.5,292.5Q367,335,339,386Q311,437,259.5,409Q208,381,174,355.5Q140,330,110,290Q80,250,99.5,202.5Q119,155,153,105.5Q187,56,253.5,45Q320,34,380,73Q440,112,466,181Q492,250,429.5,292.5Z;
        
                    M375.5,294Q371,338,348,409.5Q325,481,251,477.5Q177,474,158,402.5Q139,331,96,290.5Q53,250,90,205Q127,160,163.5,128Q200,96,257.5,73Q315,50,371.5,85.5Q428,121,404,185.5Q380,250,375.5,294Z;
                    M429.5,292.5Q367,335,339,386Q311,437,259.5,409Q208,381,174,355.5Q140,330,110,290Q80,250,99.5,202.5Q119,155,153,105.5Q187,56,253.5,45Q320,34,380,73Q440,112,466,181Q492,250,429.5,292.5Z;
                    ">
                    </animate>
                </path>
              </svg>
            </div>
        </div>
        <div class="bubbles-sk-2">
        <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <defs>
              <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(54, 116, 170);"></stop>
                <stop offset="100%" style="stop-color: rgb(20, 39, 102);"></stop>
              </linearGradient>
            </defs>
            <path  fill="url(#gradient)">
                <animate attributeName="d" style="box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.4)" dur="10001ms" repeatCount="indefinite"
                values="
                
                M392.5,290Q360,330,334,379.5Q308,429,245,444Q182,459,147,405Q112,351,111.5,300.5Q111,250,117,204Q123,158,153.5,103Q184,48,240,79Q296,110,373,107.5Q450,105,437.5,177.5Q425,250,392.5,290Z;
                M429.5,292.5Q367,335,339,386Q311,437,259.5,409Q208,381,174,355.5Q140,330,110,290Q80,250,99.5,202.5Q119,155,153,105.5Q187,56,253.5,45Q320,34,380,73Q440,112,466,181Q492,250,429.5,292.5Z;
                M375.5,294Q371,338,348,409.5Q325,481,251,477.5Q177,474,158,402.5Q139,331,96,290.5Q53,250,90,205Q127,160,163.5,128Q200,96,257.5,73Q315,50,371.5,85.5Q428,121,404,185.5Q380,250,375.5,294Z;
       M429.5,292.5Q367,335,339,386Q311,437,259.5,409Q208,381,174,355.5Q140,330,110,290Q80,250,99.5,202.5Q119,155,153,105.5Q187,56,253.5,45Q320,34,380,73Q440,112,466,181Q492,250,429.5,292.5Z;
                M375.5,294Q371,338,348,409.5Q325,481,251,477.5Q177,474,158,402.5Q139,331,96,290.5Q53,250,90,205Q127,160,163.5,128Q200,96,257.5,73Q315,50,371.5,85.5Q428,121,404,185.5Q380,250,375.5,294Z;
             
                ">
                </animate>
            </path>
          </svg>
        </div>
        
    </div>
</div>

</head>


    <script src="/style/script.js"></script>
</body>
</html>